@using SMLYS.Infrastructure.Identity
@using SMLYS.ApplicationCore.Domain.User

@inject Microsoft.AspNetCore.Identity.SignInManager<ApplicationUser> SignInManager
@inject Microsoft.AspNetCore.Identity.UserManager<ApplicationUser> UserManager
@inject UserHandler _userHandler

@{
    var userContext = _userHandler.GetUserContext();
}

<!-- *APP-HEADER* -->
<header class="app-header navbar">
    <button class="navbar-toggler mobile-sidebar-toggler d-lg-none mr-auto" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#"><div style="font-size:18px;font-weight:bold;">SMLYS</div></a>
    <button class="navbar-toggler sidebar-toggler d-md-down-none" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="nav navbar-nav d-md-down-none">
        <li class="nav-item px-3">
            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        </li>
    </ul>

    <ul class="nav navbar-nav ml-auto">
        <li class="nav-item d-md-down-none">
            <a asp-area="" asp-controller="Home" asp-action="About">@userContext.ClinicName</a>
        </li>

        <partial name="_UserNav" />
    </ul>

    @*@if (SignInManager.IsSignedIn(User))
        {
            <button class="navbar-toggler aside-menu-toggler" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
        }*@
</header>
<!-- /*APP-HEADER* -->
