@using SMLYS.Infrastructure.Identity
@using SMLYS.ApplicationCore.Domain.User

@inject Microsoft.AspNetCore.Identity.SignInManager<ApplicationUser> SignInManager
@inject Microsoft.AspNetCore.Identity.UserManager<ApplicationUser> UserManager
@inject UserHandler _userHandler

@{
    var userContext = _userHandler.GetUserContext();
}

<!-- *APP-HEADER* -->
<header class="app-header navbar">
    <button class="navbar-toggler mobile-sidebar-toggler d-lg-none mr-auto" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">
        @*<div style="font-size:18px;font-weight:bold;">SMLYS</div>*@
        <img src="~/images/smylsLogo_v3.png" width="128" height="40" />
    </a>
    <button class="navbar-toggler sidebar-toggler d-md-down-none" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
    @*<ul class="nav navbar-nav d-md-down-none navbar-center">
            <li class="nav-item px-3">
                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index" asp-route-view="Index">Home</a>
            </li>
        </ul>*@


    @*<nav class="navbar navbar-light bg-light">
        <form class="form-inline">
            <div class="input-group">
                <div class="input-group-prepend">
                    <select class="form-control pull-left walkthrough-2" id="SearchTypeSelect">
                        <option value="1">Patient</option>
                        <option value="2">Invoice</option>
                        <option value="3">Service</option>
                    </select>
                </div>
                <input class="form-control" type="text" placeholder="Search" aria-label="Search" id="example3">
                <input type="submit" class="searchBoxSubmit">
                @*<input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
            </div>
        </form>
    </nav>*@

    @*<ul class="nav navbar-nav navbar-center " id="head-search-box-ul">
        <li>
            <select class="form-control pull-left walkthrough-2" id="SearchTypeSelect">
                <option value="1">Patient</option>
                <option value="2">Invoice</option>
                <option value="3">Service</option>
            </select>
        </li>
        <li>
            <form class="form-inline mr-auto ">
                <div class="hide-autocomplete-dropdown">
                    <input class="form-control" type="text" placeholder="Search" aria-label="Search" id="example3">
                    <input type="submit" class="searchBoxSubmit">
                </div>

            </form>
        </li>
    </ul>*@

    <ul class="nav navbar-nav ml-auto" id="head-search-box-ul">
        <form class="form-inline my-2 my-lg-0">
            <select class="form-control pull-left walkthrough-2" id="SearchTypeSelect">
                <option value="1">Patient</option>
                <option value="2">Invoice</option>
                <option value="3">Service</option>
            </select>
            <div class="hide-autocomplete-dropdown">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" id="example3">
                @*<button class="btn btn-outline-success my-2 my-sm-0 searchBoxSubmit" type="submit">Search</button>*@
            </div>
        </form>
        @*<li class="nav-item d-md-down-none">
            <a asp-area="" asp-controller="Home" asp-action="About">@userContext.ClinicName</a>
        </li>

        <partial name="_UserNav" />*@
    </ul>



    @*@if (SignInManager.IsSignedIn(User))
        {
            <button class="navbar-toggler aside-menu-toggler" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
        }*@
</header>
<!-- /*APP-HEADER* -->
