@using SMLYS.ApplicationCore.DTOs.Common;
@model Pager

@if (Model.Pages.Any())
{

    string filter = ViewData["PagerFilter"].ToString();
    string controllerName = ViewData["PagerControllerName"].ToString();

    <nav class="table-responsive">
        <ul class="pagination justify-content-center d-flex flex-wrap">
            @if (Model.CurrentPage > 1)
            {
                <li class="page-item">
                    <a class="page-link" href="/@(controllerName)?page=1@(filter)">First</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="/@(controllerName)?page=@(Model.CurrentPage - 1)@filter">Previous</a>
                </li>
            }

            @foreach (var p in Model.Pages)
            {
                <li class="page-item @(p == Model.CurrentPage ? "active" : "")">
                    <a class="page-link" href="/@(controllerName)?page=@p@filter">@p</a>

                </li>
            }

            @if (Model.CurrentPage < Model.TotalPages)
            {
                <li class="page-item">
                    <a class="page-link" href="/@(controllerName)?page=@(Model.CurrentPage + 1)@filter">Next</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="/@(controllerName)?page=@(Model.TotalPages)@filter">Last</a>
                </li>
            }
        </ul>
    </nav>
}