@using SMLYS.Web.ViewModels.SiteUsers

@model IEnumerable<SiteUserViewModel>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="animated fadeIn  view-patients-content">

    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <i class="fa fa-align-justify"></i> Site Users
                </div>
                <div class="card-body">
                    <div class="table-responsive-md text-nowrap">
                        <table class="table table-bordered table-striped table-sm table-patients">
                            <thead>
                                <tr>
                                    <th>USER NAME</th>
                                    <th>EMAIL</th>
                                    <th>USER LEVEL</th>
                                    <th>STATUS</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null && Model.Any())
                                {
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@Html.DisplayFor(modelItem => item.FirstName) &nbsp; @Html.DisplayFor(modelItem => item.LastName) </td>
                                            <td>@Html.DisplayFor(modelItem => item.Email)</td>
                                            <td>@Html.DisplayFor(modelItem => item.SiteUserLevelName)</td>
                                            <td></td>
                                        </tr>
                                    }
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!--/.col-->
    </div>
    <!--/.row-->



</div>

