
@{
    ViewData["Title"] = "RegisterUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Register User</h2>
@if (ViewData.ModelState.Any() && ViewData.ModelState.First().Value.Errors.Any())
{

    <table class="model-state">
        @foreach (var item in ViewData.ModelState)
        {
            if (item.Value.Errors.Any())
            {
                <tr>
                    <td><b>@item.Key</b></td>
                    <td>@((item.Value == null) ? "<null>" : item.Value.RawValue)</td>
                    <td>@(string.Join("; ", item.Value.Errors.Select(x => x.ErrorMessage)))</td>
                </tr>
            }
        }
    </table>
}
else
{
    <h3>Create user success.</h3>
}
