@using SMLYS.ApplicationCore.DTOs.Invoices

@model InvoiceModel
@{
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Invoice</title>
</head>

<body>
    <blockquote style="margin-top:5.0pt; margin-bottom:5.0pt">
        <div>
            <div>
                <p class="x_MsoNormal"><span style="font-size:1.0pt">Receipt for $@Model.Total at SMLYS Inc. on @Model.InvoiceDate.</span></p>
            </div>
            <div>
                <table class="x_MsoNormalTable" border="0" cellspacing="0" cellpadding="0" width="100%" style="width:100.0%; border-collapse:collapse">
                    <tbody>
                        <tr>
                            <td valign="top" style="padding:0cm 0cm 0cm 0cm">
                                <div align="center">
                                    <table class="x_MsoNormalTable" border="0" cellspacing="0" cellpadding="0" width="375" style="width:281.25pt">
                                        <tbody>
                                            <tr>
                                                <td width="375" valign="top" style="width:281.25pt; padding:0cm 0cm 0cm 0cm">
                                                    <div align="center">
                                                        <table class="x_MsoNormalTable" border="0" cellspacing="0" cellpadding="0" style="max-width:281.25pt; border-collapse:collapse">
                                                            <tbody>
                                                                <tr>
                                                                    <td style="padding:0cm 0cm 0cm 0cm">
                                                                        <div align="center">
                                                                            <table class="x_MsoNormalTable" border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse">
                                                                                <tbody>
                                                                                    <tr>
                                                                                        <td valign="top" style="padding:0cm 0cm 0cm 0cm">
                                                                                            <div align="center">
                                                                                                <table class="x_MsoNormalTable" border="0" cellspacing="0" cellpadding="0" style="background:#43505E; border-collapse:collapse">
                                                                                                    <tbody>
                                                                                                        <tr>
                                                                                                            <td valign="bottom" style="padding:0cm 0cm 0cm 0cm">
                                                                                                                <p class="x_MsoNormal" style=""><span style="font-size: 1pt; font-family: Helvetica, sans-serif, serif, EmojiFont; color: rgb(61, 69, 77);"><img data-imagetype="External" src="./Mail - hongding zhu - Outlook_files/spacer-aaefc7206bbc074481af8eb7755a10ed.png" border="0" width="375" height="3" id="x__x0000_i1025" alt="gray" style="width:3.9062in; height:.0312in"></span></p>
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                        <tr>
                                                                                                            <td valign="bottom" style="padding:0cm 0cm 0cm 0cm">
                                                                                                                <p class="x_MsoNormal" style=""><span style="font-size: 1pt; font-family: Helvetica, sans-serif, serif, EmojiFont; color: rgb(61, 69, 77);"><img data-imagetype="External" src="./Mail - hongding zhu - Outlook_files/spacer-aaefc7206bbc074481af8eb7755a10ed(1).png" border="0" width="375" height="3" id="x__x0000_i1026" alt="white" style="width:3.9062in; height:.0312in"></span></p>
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                        <tr style="height:6.0pt">
                                                                                                            <td width="100%" style="width:100.0%; padding:0cm 0cm 0cm 0cm; height:6.0pt"></td>
                                                                                                        </tr>
                                                                                                        <tr style="height:105.75pt">
                                                                                                            <td width="100%" style="width:100.0%; padding:0cm 27.0pt 0cm 27.0pt; height:105.75pt">
                                                                                                                <div align="center">
                                                                                                                    <table class="x_MsoNormalTable" border="0" cellspacing="0" cellpadding="0" width="100%" style="width:100.0%; border-collapse:collapse; border-spacing:0; word-wrap:break-word">
                                                                                                                        <tbody>
                                                                                                                            <tr>
                                                                                                                                <td style="padding:0cm 0cm 0cm 0cm">
                                                                                                                                    <p class="x_MsoNormal" align="center" style="text-align:center"><span style="font-size: 1pt; font-family: Helvetica, sans-serif, serif, EmojiFont; color: rgb(61, 69, 77); border: 2.25pt solid white; padding: 0cm;"><img data-imagetype="External" src="./Mail - hongding zhu - Outlook_files/original.jpeg" border="0" width="64" height="64" id="x__x0000_i1027" style="width:.6666in; height:.6666in"></span><span style="font-size: 1pt; font-family: Helvetica, sans-serif, serif, EmojiFont; color: rgb(61, 69, 77);"></span></p>
                                                                                                                                </td>
                                                                                                                            </tr>
                                                                                                                            <tr>
                                                                                                                                <td style="padding:18.0pt 0cm 0cm 0cm">
                                                                                                                                    <p class="x_MsoNormal" align="center" style="text-align:center; line-height:13.5pt">
                                                                                                                                        <span style="font-size: 12pt; font-family: Helvetica, sans-serif, serif, EmojiFont; color: white; letter-spacing: 0.25pt;">SMLYS Inc.</span>
                                                                                                                                    </p>
                                                                                                                                </td>
                                                                                                                            </tr>
                                                                                                                        </tbody>
                                                                                                                    </table>
                                                                                                                </div>
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                        <tr style="height:6.0pt">
                                                                                                            <td valign="bottom" style="padding:0cm 0cm 0cm 0cm; height:6.0pt"></td>
                                                                                                        </tr>
                                                                                                    </tbody>
                                                                                                </table>
                                                                                            </div>
                                                                                        </td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                        <p class="x_MsoNormal" align="center" style="text-align:center"><span style="font-size: 1pt; font-family: Helvetica, sans-serif, serif, EmojiFont; color: rgb(61, 69, 77); display: none;">&nbsp;</span></p>
                                                                        <div align="center">
                                                                            <table class="x_MsoNormalTable" border="0" cellspacing="0" cellpadding="0" width="100%" style="width:100.0%; background:#546476; border-collapse:collapse; border-spacing:0; min-width:100%">
                                                                                <tbody>
                                                                                    <tr style="height:9.0pt">
                                                                                        <td width="100%" style="width:100.0%; padding:0cm 0cm 0cm 0cm; height:9.0pt"></td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td style="padding:0cm 0cm 0cm 0cm">
                                                                                            <div>
                                                                                                <p class="x_MsoNormal" align="center" style="text-align:center; line-height:18.0pt">
                                                                                                    <span style="font-size: 12pt; font-family: Helvetica, sans-serif, serif, EmojiFont; color: white; letter-spacing: 0.15pt;">How was your experience?</span>
                                                                                                </p>
                                                                                            </div>
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr style="height:3.0pt">
                                                                                        <td width="100%" style="width:100.0%; padding:0cm 0cm 0cm 0cm; height:3.0pt"></td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td width="100%" style="width:100.0%; padding:0cm 0cm 0cm 0cm">
                                                                                            <div align="center">
                                                                                                <table class="x_MsoNormalTable" border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse; border-spacing:0">
                                                                                                    <tbody>
                                                                                                        <tr style="height:39.0pt">
                                                                                                            <td width="74" style="width:55.5pt; padding:0cm 0cm 0cm 0cm; height:39.0pt">
                                                                                                                <div>
                                                                                                                    <p class="x_MsoNormal" align="center" style="text-align:center; line-height:12.0pt">
                                                                                                                        <span style="font-size: 9pt; font-family: Helvetica, sans-serif, serif, EmojiFont; color: blue;"><a href="https://a.squareupmessaging.com/CL0/https:%2F%2Faccount.squareup.com%2Fresponse%2FrT65GPRG55SSZT9%2F1/1/010101694023e643-963271bf-2fbc-4bf7-b77e-d4aea77a7412-000000/uotWPLQ5qafbR2PE3AqrgXCwYjL-akQTtWO7BSGnoJg=78" target="_blank" rel="noopener noreferrer" data-auth="NotApplicable"><span style="text-decoration:none"><img data-imagetype="External" src="./Mail - hongding zhu - Outlook_files/feedback-positive-bc34c2851006e86f0d10d5f7fa726d30.png" border="0" width="64" height="64" id="x__x0000_i1028" alt="Positive" style="width:.6666in; height:.6666in"></span></a><span class="x_MsoHyperlink"><span style="text-decoration:none"></span></span></span>
                                                                                                                    </p>
                                                                                                                </div>
                                                                                                                <p class="x_MsoNormal" align="center" style="text-align:center; line-height:12.0pt">
                                                                                                                    <span style="color:#3D454D">&nbsp;</span>
                                                                                                                </p>
                                                                                                            </td>
                                                                                                            <td width="74" style="width:55.5pt; padding:0cm 0cm 0cm 0cm; height:39.0pt">
                                                                                                                <div>
                                                                                                                    <p class="x_MsoNormal" align="center" style="text-align:center; line-height:12.0pt">
                                                                                                                        <span style="font-size: 9pt; font-family: Helvetica, sans-serif, serif, EmojiFont; color: blue;"><a href="https://a.squareupmessaging.com/CL0/https:%2F%2Faccount.squareup.com%2Fresponse%2FrT65GPRG55SSZT9%2F-1/1/010101694023e643-963271bf-2fbc-4bf7-b77e-d4aea77a7412-000000/98nIXr9CJOxus_fnb8UtPFbAZZxOHYpTMC7YaZew1sc=78" target="_blank" rel="noopener noreferrer" data-auth="NotApplicable"><span style="text-decoration:none"><img data-imagetype="External" src="./Mail - hongding zhu - Outlook_files/feedback-negative-0ca99b85bb431c7cbd5c68e1e7276ad6.png" border="0" width="64" height="64" id="x__x0000_i1029" alt="Negative" style="width:.6666in; height:.6666in"></span></a></span><span class="x_MsoHyperlink"><span style="text-decoration:none"></span></span>
                                                                                                                    </p>
                                                                                                                </div>
                                                                                                                <p class="x_MsoNormal" align="center" style="text-align:center; line-height:12.0pt">
                                                                                                                    <span style="font-size: 9pt; font-family: Helvetica, sans-serif, serif, EmojiFont; color: rgb(61, 69, 77);">&nbsp;</span>
                                                                                                                </p>
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                    </tbody>
                                                                                                </table>
                                                                                            </div>
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr style="height:12.0pt">
                                                                                        <td width="100%" style="width:100.0%; padding:0cm 0cm 0cm 0cm; height:12.0pt"></td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                        <p class="x_MsoNormal" align="center" style="text-align:center"><span style="font-size: 1pt; font-family: Helvetica, sans-serif, serif, EmojiFont; color: rgb(61, 69, 77); display: none;">&nbsp;</span></p>
                                                                        <div align="center">
                                                                            <table class="x_MsoNormalTable" border="0" cellspacing="0" cellpadding="0" width="100%" style="width:100.0%; background:white; border-collapse:collapse; border-spacing:0; min-width:100%">
                                                                                <tbody>
                                                                                    <tr style="height:18.0pt">
                                                                                        <td width="100%" style="width:100.0%; padding:0cm 0cm 0cm 0cm; height:18.0pt"></td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td style="padding:0cm 0cm 0cm 0cm">
                                                                                            <p class="x_MsoNormal" align="center" style="text-align:center; line-height:48.0pt">
                                                                                                <span class="x_currencysymbol"><sup><span style="font-size: 19.5pt; font-family: Helvetica, sans-serif, serif, EmojiFont; color: rgb(61, 69, 77);">$</span></sup></span><span style="font-size: 48pt; font-family: Helvetica, sans-serif, serif, EmojiFont; color: rgb(61, 69, 77);">@Model.Total</span>
                                                                                            </p>
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr style="height:12.0pt">
                                                                                        <td width="100%" style="width:100.0%; padding:0cm 0cm 0cm 0cm; height:12.0pt"></td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                        <p class="x_MsoNormal" align="center" style="text-align:center"><span style="font-size: 1pt; font-family: Helvetica, sans-serif, serif, EmojiFont; color: rgb(61, 69, 77); display: none;">&nbsp;</span></p>
                                                                        <div align="center">
                                                                            <table class="x_MsoNormalTable" border="0" cellspacing="0" cellpadding="0" width="100%" style="width:100.0%; background:white; border-collapse:collapse; border-spacing:0; min-width:100%">
                                                                                <tbody>
                                                                                    <tr>
                                                                                        <td width="16" style="width:12.0pt; padding:0cm 0cm 0cm 0cm">
                                                                                            <p class="x_MsoNormal" style=""><span style="font-size: 1pt; font-family: Helvetica, sans-serif, serif, EmojiFont; color: rgb(61, 69, 77);"><img data-imagetype="External" src="./Mail - hongding zhu - Outlook_files/spacer-aaefc7206bbc074481af8eb7755a10ed(2).png" border="0" width="16" height="1" id="x__x0000_i1030" style="width:.1666in; height:.0104in"></span></p>
                                                                                        </td>
                                                                                        <td style="padding:0cm 0cm 0cm 0cm">
                                                                                            <table class="x_MsoNormalTable" border="0" cellspacing="0" cellpadding="0" width="100%" style="width:100.0%; background:white; border-collapse:collapse; border-spacing:0; min-width:100%; word-wrap:break-word">
                                                                                                <tbody>
                                                                                                    <tr>
                                                                                                        <td valign="top" style="padding:0cm 0cm 0cm 0cm"></td>
                                                                                                        <td width="16" style="width:12.0pt; padding:0cm 0cm 0cm 0cm">
                                                                                                            <p class="x_MsoNormal">&nbsp;</p>
                                                                                                        </td>
                                                                                                    </tr>
                                                                                                    <tr style="height:2.25pt">
                                                                                                        <td width="100%" colspan="2" style="width:100.0%; padding:0cm 0cm 0cm 0cm; height:2.25pt"></td>
                                                                                                    </tr>
                                                                                                    <tr style="height:.75pt">
                                                                                                        <td colspan="2" style="border:none; border-top:dashed #E0E1E2 1.0pt; padding:0cm 0cm 0cm 0cm; height:.75pt">
                                                                                                            <p class="x_MsoNormal" style=""><span style="font-size: 1pt; font-family: Helvetica, sans-serif, serif, EmojiFont; color: rgb(61, 69, 77);"><img data-imagetype="External" src="./Mail - hongding zhu - Outlook_files/spacer-aaefc7206bbc074481af8eb7755a10ed(2).png" border="0" width="1" height="1" id="x__x0000_i1031" style="width:.0104in; height:.0104in"></span></p>
                                                                                                        </td>
                                                                                                    </tr>
                                                                                                    <tr style="height:5.25pt">
                                                                                                        <td width="100%" colspan="2" style="width:100.0%; padding:0cm 0cm 0cm 0cm; height:5.25pt"></td>
                                                                                                    </tr>

                                                                                                    @foreach (var item in Model.InvoiceItems)
                                                                                                    {
                                                                                                        <tr>
                                                                                                            <td width="70%" valign="top" style="width:70.0%; padding:0cm 0cm 0cm 0cm">
                                                                                                                <div>
                                                                                                                    <p class="x_MsoNormal" style="line-height:15.75pt"><span style="font-size: 10.5pt; font-family: Helvetica, sans-serif, serif, EmojiFont; color: rgb(61, 69, 77); letter-spacing: 0.15pt;">@item.ItemName</span></p>
                                                                                                                </div>
                                                                                                            </td>
                                                                                                            <td width="30%" valign="top" style="width:30.0%; padding:0cm 0cm 0cm 0cm">
                                                                                                                <div>
                                                                                                                    <p class="x_MsoNormal" align="right" style="text-align:right; line-height:15.75pt">
                                                                                                                        <span style="font-size: 10.5pt; font-family: Helvetica, sans-serif, serif, EmojiFont; color: rgb(61, 69, 77); letter-spacing: 0.15pt;"> $@item.Total</span>
                                                                                                                    </p>
                                                                                                                </div>
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                    }

                                                                                                    <tr style="height:8.25pt">
                                                                                                        <td width="100%" colspan="2" style="width:100.0%; padding:0cm 0cm 0cm 0cm; height:8.25pt"></td>
                                                                                                    </tr>
                                                                                                    <tr style="height:.75pt">
                                                                                                        <td colspan="2" style="border:none; border-top:dashed #E0E1E2 1.0pt; padding:0cm 0cm 0cm 0cm; height:.75pt">
                                                                                                            <p class="x_MsoNormal" style=""><span style="font-size: 1pt; font-family: Helvetica, sans-serif, serif, EmojiFont; color: rgb(61, 69, 77);"><img data-imagetype="External" src="./Mail - hongding zhu - Outlook_files/spacer-aaefc7206bbc074481af8eb7755a10ed(2).png" border="0" width="1" height="1" id="x__x0000_i1032" style="width:.0104in; height:.0104in"></span></p>
                                                                                                        </td>
                                                                                                    </tr>
                                                                                                    <tr style="height:8.25pt">
                                                                                                        <td width="100%" colspan="2" style="width:100.0%; padding:0cm 0cm 0cm 0cm; height:8.25pt"></td>
                                                                                                    </tr>
                                                                                                    <tr>
                                                                                                        <td width="70%" style="width:70.0%; padding:0cm 0cm 0cm 0cm">
                                                                                                            <div>
                                                                                                                <p class="x_MsoNormal" style="line-height:15.75pt"><span style="font-size: 10.5pt; font-family: Helvetica, sans-serif, serif, EmojiFont; color: rgb(61, 69, 77); letter-spacing: 0.15pt;">Total</span></p>
                                                                                                            </div>
                                                                                                        </td>
                                                                                                        <td width="30%" style="width:30.0%; padding:0cm 0cm 0cm 0cm">
                                                                                                            <div>
                                                                                                                <p class="x_MsoNormal" align="right" style="text-align:right; line-height:15.75pt">
                                                                                                                    <b><span style="font-size: 10.5pt; font-family: Helvetica, sans-serif, serif, EmojiFont; color: rgb(61, 69, 77); letter-spacing: 0.15pt;">$@Model.Total</span></b>
                                                                                                                </p>
                                                                                                            </div>
                                                                                                        </td>
                                                                                                    </tr>
                                                                                                </tbody>
                                                                                            </table>
                                                                                        </td>
                                                                                        <td width="16" style="width:12.0pt; padding:0cm 0cm 0cm 0cm">
                                                                                            <p class="x_MsoNormal" style=""><span style="font-size: 1pt; font-family: Helvetica, sans-serif, serif, EmojiFont; color: rgb(61, 69, 77);"><img data-imagetype="External" src="./Mail - hongding zhu - Outlook_files/spacer-aaefc7206bbc074481af8eb7755a10ed(2).png" border="0" width="16" height="1" id="x__x0000_i1033" style="width:.1666in; height:.0104in"></span></p>
                                                                                        </td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                        <p class="x_MsoNormal" align="center" style="text-align:center"><span style="font-size: 1pt; font-family: Helvetica, sans-serif, serif, EmojiFont; color: rgb(61, 69, 77); display: none;">&nbsp;</span></p>
                                                                        <div align="center">
                                                                            <table class="x_MsoNormalTable" border="0" cellspacing="0" cellpadding="0" width="100%" style="width:100.0%; background:white; border-collapse:collapse; border-spacing:0; min-width:100%">
                                                                                <tbody>
                                                                                    <tr>
                                                                                        <td width="16" style="width:12.0pt; padding:0cm 0cm 0cm 0cm">
                                                                                            <p class="x_MsoNormal" style=""><span style="font-size: 1pt; font-family: Helvetica, sans-serif, serif, EmojiFont; color: rgb(61, 69, 77);"><img data-imagetype="External" src="./Mail - hongding zhu - Outlook_files/spacer-aaefc7206bbc074481af8eb7755a10ed(2).png" border="0" width="16" height="1" id="x__x0000_i1034" style="width:.1666in; height:.0104in"></span></p>
                                                                                        </td>
                                                                                        <td style="padding:0cm 0cm 0cm 0cm">
                                                                                            <table class="x_MsoNormalTable" border="0" cellspacing="0" cellpadding="0" width="100%" style="width:100.0%; background:white; border-collapse:collapse; border-spacing:0; min-width:100%; word-wrap:break-word">
                                                                                                <tbody>
                                                                                                    <tr>
                                                                                                        <td valign="top" style="padding:0cm 0cm 0cm 0cm"></td>
                                                                                                        <td width="16" style="width:12.0pt; padding:0cm 0cm 0cm 0cm">
                                                                                                            <p class="x_MsoNormal">&nbsp;</p>
                                                                                                        </td>
                                                                                                    </tr>
                                                                                                    <tr style="height:12.0pt">
                                                                                                        <td width="100%" colspan="2" style="width:100.0%; padding:0cm 0cm 0cm 0cm; height:12.0pt"></td>
                                                                                                    </tr>
                                                                                                </tbody>
                                                                                            </table>
                                                                                        </td>
                                                                                        <td width="16" style="width:12.0pt; padding:0cm 0cm 0cm 0cm">
                                                                                            <p class="x_MsoNormal" style=""><span style="font-size: 1pt; font-family: Helvetica, sans-serif, serif, EmojiFont; color: rgb(61, 69, 77);"><img data-imagetype="External" src="./Mail - hongding zhu - Outlook_files/spacer-aaefc7206bbc074481af8eb7755a10ed(2).png" border="0" width="16" height="1" id="x__x0000_i1035" style="width:.1666in; height:.0104in"></span></p>
                                                                                        </td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                        <p class="x_MsoNormal" align="center" style="text-align:center"><span style="font-size: 1pt; font-family: Helvetica, sans-serif, serif, EmojiFont; color: rgb(61, 69, 77); display: none;">&nbsp;</span></p>
                                                                        <div align="center">
                                                                            <table class="x_MsoNormalTable" border="0" cellspacing="0" cellpadding="0" width="100%" style="width:100.0%; background:white; border-collapse:collapse; border-spacing:0; min-width:100%; word-wrap:break-word">
                                                                                <tbody>
                                                                                    <tr style="height:.75pt">
                                                                                        <td style="padding:0cm 0cm 0cm 0cm; height:.75pt"></td>
                                                                                    </tr>
                                                                                    <tr style="height:18.0pt">
                                                                                        <td width="100%" style="width:100.0%; padding:0cm 0cm 0cm 0cm; height:18.0pt"></td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td style="padding:0cm 0cm 0cm 0cm">
                                                                                            <p class="x_MsoNormal" align="center" style="text-align:center; line-height:17.25pt">
                                                                                                <span style="font-size: 10.5pt; font-family: Helvetica, sans-serif, serif, EmojiFont; color: rgb(61, 69, 77); letter-spacing: 0.15pt;">SMLYS Inc.</span>
                                                                                            </p>
                                                                                            <p class="x_MsoNormal" align="center" style="text-align:center; line-height:17.25pt">
                                                                                                <span style="font-size: 10.5pt; font-family: Helvetica, sans-serif, serif, EmojiFont; color: rgb(61, 69, 77); letter-spacing: 0.15pt;"><a href="http://a.squareupmessaging.com/CL0/tel:778-833-4786/1/010101694023e643-963271bf-2fbc-4bf7-b77e-d4aea77a7412-000000/OeWYKjqNgX4QAMqwjibS-B5vrY6t_nOc7JULibs70ac=78" target="_blank" rel="noopener noreferrer" data-auth="NotApplicable"><span style="color:#3D454D; text-decoration:none">888-888-88888</span></a></span>
                                                                                            </p>
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr style="height:12.0pt">
                                                                                        <td width="100%" style="width:100.0%; padding:0cm 0cm 0cm 0cm; height:12.0pt"></td>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td id="x_receipt-instagram-url" style="padding:0cm 0cm 0cm 0cm">
                                                                                            <div align="center">
                                                                                                <table class="x_MsoNormalTable" border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse; border-spacing:0">
                                                                                                    <tbody>
                                                                                                        <tr style="height:24.0pt">
                                                                                                            <td width="56" style="width:42.0pt; padding:0cm 0cm 0cm 0cm; height:24.0pt; border-spacing:0">
                                                                                                                <p class="x_MsoNormal" align="center" style="text-align:center"><span style="font-size: 1pt; font-family: Helvetica, sans-serif, serif, EmojiFont; color: rgb(61, 69, 77);"><a href="https://a.squareupmessaging.com/CL0/https:%2F%2Finstagram.com%2Fbcgarlic/1/010101694023e643-963271bf-2fbc-4bf7-b77e-d4aea77a7412-000000/ZJa8gd34WY3xjcxUdcJBQpJ8Xw5IKlRpsXRQuv4GAWQ=78" target="_blank" rel="noopener noreferrer" data-auth="NotApplicable"><span style="text-decoration:none"><img data-imagetype="External" src="./Mail - hongding zhu - Outlook_files/instagram-icon-15a3789a9bfe2b42c65c01ff4902ffdf.png" border="0" width="32" height="32" id="x__x0000_i1036" alt="Instagram icon" style="width:.3333in; height:.3333in"></span></a></span></p>
                                                                                                            </td>
                                                                                                            <td width="56" id="x_receipt-website-url" style="width:42.0pt; padding:0cm 0cm 0cm 0cm; height:24.0pt">
                                                                                                                <p class="x_MsoNormal" align="center" style="text-align:center"><span style="font-size: 1pt; font-family: Helvetica, sans-serif, serif, EmojiFont; color: rgb(61, 69, 77);"><a href="http://a.squareupmessaging.com/CL0/http:%2F%2Fbcgarlic.com/1/010101694023e643-963271bf-2fbc-4bf7-b77e-d4aea77a7412-000000/RRZtk5HbAV7TKRqrLagAOoywz1zLndRmhvExvAWxes0=78" target="_blank" rel="noopener noreferrer" data-auth="NotApplicable"><span style="text-decoration:none"><img data-imagetype="External" src="./Mail - hongding zhu - Outlook_files/website-icon-6421faf6aecca340cea0b412a567f098.png" border="0" width="32" height="32" id="x__x0000_i1037" alt="Website icon" style="width:.3333in; height:.3333in"></span></a></span></p>
                                                                                                            </td>
                                                                                                        </tr>
                                                                                                    </tbody>
                                                                                                </table>
                                                                                            </div>
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr style="height:15.0pt">
                                                                                        <td width="100%" style="width:100.0%; padding:0cm 0cm 0cm 0cm; height:15.0pt"></td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                        <p class="x_MsoNormal" align="center" style="text-align:center"><span style="font-size: 1pt; font-family: Helvetica, sans-serif, serif, EmojiFont; color: rgb(61, 69, 77); display: none;">&nbsp;</span></p>
                                                                        <div align="center">
                                                                            <table class="x_MsoNormalTable" border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse; border-spacing:0">
                                                                                <tbody>
                                                                                    <tr style="height:.75pt">
                                                                                        <td style="padding:0cm 0cm 0cm 0cm; height:.75pt"></td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                        <p class="x_MsoNormal" align="center" style="text-align:center"><span style="font-size: 1pt; font-family: Helvetica, sans-serif, serif, EmojiFont; color: rgb(61, 69, 77); display: none;">&nbsp;</span></p>

                                                                        <div align="center">
                                                                            <table class="x_MsoNormalTable" border="0" cellspacing="0" cellpadding="0" style="background:#F2F4F5; border-collapse:collapse; border-spacing:0">
                                                                                <tbody>
                                                                                    <tr>
                                                                                        <td valign="top" style="padding:0cm 0cm 0cm 0cm">
                                                                                            <p class="x_MsoNormal" style=""><span style="font-size: 1pt; font-family: Helvetica, sans-serif, serif, EmojiFont; color: rgb(61, 69, 77);"><img data-imagetype="External" src="./Mail - hongding zhu - Outlook_files/receipt-bottom-edge-ca4f6dd992e49e004260fe59d690d9c0.png" border="0" width="375" height="4" id="x__x0000_i1042" style="width:3.9062in; height:.0416in"></span></p>
                                                                                        </td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                        <p class="x_MsoNormal" align="center" style="text-align:center"><span style="font-size: 1pt; font-family: Helvetica, sans-serif, serif, EmojiFont; color: rgb(61, 69, 77); display: none;">&nbsp;</span></p>
                                                                        <p class="x_MsoNormal" align="center" style="text-align:center"><span style="color:windowtext"></span></p>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <p class="x_MsoNormal"><img data-imagetype="External" src="./Mail - hongding zhu - Outlook_files/ei" originalsrc="http://a.squareupmessaging.com/CI0/010101694023e643-963271bf-2fbc-4bf7-b77e-d4aea77a7412-000000/h2kiZwXg3aLHxRUrlItLSAIMmJdKbibiQxMb-_dW1Lk=78" data-connectorsauthtoken="1" data-imageproxyendpoint="/actions/ei" data-imageproxyid="" border="0" id="x__x0000_i1045"></p>
        </div>
    </blockquote>
</body>
</html>
