@page
@model VerifyPhoneNumberModel

@{
    ViewData["Title"] = "Verify Phone Number";
}

<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card-group">
            <div class="card p-4">
                <div class="card-header">
                    <h4>@ViewData["Title"]</h4>

                </div>
                <div class="card-body">
                    <form method="post" class="form-horizontal">
                        <input asp-for="PhoneNumber" type="hidden" />
                        <h4>Add a phone number.</h4>
                        <h5>@ViewData["Status"]</h5>
                        <hr />
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Code" class="col-md-2 control-label"></label>
                            <div class="col-md-10">
                                <input asp-for="Code" class="form-control" />
                                <span asp-validation-for="Code" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <button type="submit" class="btn btn-default">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
