@{
    ViewData["Title"] = "系统支持";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    <abbr title="Phone">电话:</abbr>
    0512-88888888
</address>

<address>
    <strong>支持:</strong> <a href="mailto:Support@fz-label.com">Support@fz-label.com</a><br />
</address>
