@model SMLYS.ApplicationCore.Models.ViewModels.Customer.RegisterCustomerViewModel

@{
    ViewData["Title"] = "NewCustomer";
}

<div class="animated fadeIn">
    <form action="" method="post" class="form-horizontal">
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-header">
                        <strong>用户信息</strong>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    @*<label for="userName">用户名</label>
                                    <input type="text" class="form-control" id="userName" placeholder="输入用户名">*@

                                    <label asp-for="Email"></label>
                                    <input asp-for="Email" class="form-control"  placeholder="输入用户名"/>
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="col-md-3 col-form-label" for="password-input">密码</label>
                                    <input type="password" id="password-input" name="password-input" class="form-control" placeholder="Password">
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> 提交</button>
                        <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i>重置</button>
                    </div>
                </div>
            </div>
            <!--/.col-->
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-header">
                        <strong>公司信息</strong>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label for="company">公司名称</label>
                            <input type="text" class="form-control" id="company" placeholder="输入公司名称">
                        </div>
                        <div class="form-group">
                            <label for="vat">联系人</label>
                            <input type="text" class="form-control" id="vat" placeholder="输入联系人">
                        </div>
                        <div class="form-group">
                            <label for="street">地址</label>
                            <input type="text" class="form-control" id="street" placeholder="输入地址">
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-8">
                                <label for="city">城市</label>
                                <input type="text" class="form-control" id="city" placeholder="输入城市">
                            </div>
                            <div class="form-group col-sm-4">
                                <label for="postal-code">邮编</label>
                                <input type="text" class="form-control" id="postal-code" placeholder="输入邮编">
                            </div>
                        </div>
                        <!--/.row-->
                        <div class="form-group">
                            <label for="state">省</label>
                            <input type="text" class="form-control" id="state" placeholder="输入省">
                        </div>
                    </div>
                </div>
            </div>
            <!--/.col-->
        </div>
    </form>
</div>
