@{
    ViewData["Title"] = "Home Page";
}

@*<div class="tutorialBody">

     Both Suggestions and Autocomplete 
    <div class="example">
        <div class="searchBoxForm hide-autocomplete-dropdown">
            <input class="searchBox" type="text" id="example3" placeholder="search">
            <input type="submit" class="searchBoxSubmit">
        </div>
    </div>
    <br />

</div>

@section Scripts {
    <script src="~/js/indexTest.js" asp-append-version="true"></script>
}*@
